@model WorkAround.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="feed-container">
    <div class="row">
        <div class="col-xs-2">
            <button type="button" value="Sort" onclick="location.href = '@Url.Action("Index", "Home")?model=@Model&sortBy=up'" class="btn">Sort Price Up</button>
        </div>
        <div class="col-xs-2">
            <button type="button" value="Sort" onclick="location.href = '@Url.Action("Index", "Home")?model=@Model&sortBy=down'" class="btn">Sort Price Down</button>
        </div>
    </div>
    
    @foreach(var post in Model.Posts)
    {
        <partial name="_Post" model="post"/>
    }
    @foreach(var employee in Model.Employees)
    {
        <partial name="_Employee" model="employee" />
    }
</div>