@model WorkAround.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="feed-container">
    @foreach(var post in Model.Posts)
    {
        <partial name="_Post" model="post"/>
    }
    @foreach(var employee in Model.Employees)
    {
        <partial name="_Employee" model="employee" />
    }
</div>