@model WorkAround.Models.CommentViewModel

@{
    ViewData["Title"] = "AddComment";
}

<h2>AddComment</h2>

<h4>CommentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployerId" class="control-label"></label>
                <input asp-for="EmployerId" class="form-control" />
                <span asp-validation-for="EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
