@model IEnumerable<WorkAround.Data.Entities.Post>
@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h6>Posts test page 11 22 33</h6>
        <a asp-area="" asp-controller="Post" asp-action="Create">Create Post</a>
        @foreach (var post in Model)
        {
            <tr>
                <td>
                    @post.Description
                </td>
                <td>
                    @post.Price
                </td>
            </tr>
        }
    </div>